/*This is the CSS page for our final template.*/

p {font family: 'Times New Roman', serif; font size: 20px}

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #cccccc;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	font-family: 'Georgia', serif;
	background-color: lightseagreen;
}

.quote {
	height: auto;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	font-family: 'Georgia', serif;
	background-color: lightgray;
}

.interviewee {
	height: auto;
	font-weight: bold;
	font-size: 17px;
	text-align: center;
	font-family: 'Georgia', serif;
	background-color: lightseagreen;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

h4 {
	font-style: italic;
	font-size: 19px;
	font-family: 'Georgia', serif;
}
h3 {
	font-family: Oswald;
	font-size: 30px;
}

h2 {font-family: 'Times New Roman';
	font-size: 20px}

h1 {font-family: 'Times New Roman';
	font-size: 50px }

img {box-shadow: 5px 5px 5px darkcyan;
	float: right;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 2%
	}


.oswald-subhead {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}	

.mainimage {
  float: margin-right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 40px; 
}


.caption {
  font-size: 10px;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 5px;
  text-align: right;
  padding-top: 20px;
}

/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	float: right;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 50px;
 	margin-top: 30px;
 	border-width: 2px;
	padding-left: 10px;
 }

 iframe {
 	min-width: 10%;
	margin-right: 10px;
 }

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: lightseagreen;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
}